<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
  <p><%= post.title %></p>
  </p>

  <% if post.image.attached? %>
    <%= image_tag post.image, class: 'img-fluid' %>
  <% end %>
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
